In [1]:
import pandas as pd
import numpy as np
# from textblob import TextBlob
import seaborn as sns
import matplotlib.pyplot as plt
import re,string,unicodedata
import os
from os import path
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [2]:
# # NLP Libs
# import nltk
# from sklearn.preprocessing import LabelBinarizer
# from nltk.corpus import stopwords
# from nltk.stem.porter import PorterStemmer
# from wordcloud import WordCloud,STOPWORDS
# from nltk.stem import WordNetLemmatizer
# from nltk.tokenize import word_tokenize,sent_tokenize
# from bs4 import BeautifulSoup
# from keras.preprocessing import text, sequence
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.preprocessing import LabelBinarizer
# from sklearn.linear_model import PassiveAggressiveClassifier
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.svm import SVC

# # Additional Libs
# from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
# from sklearn.model_selection import train_test_split
# from string import punctuation
# from nltk import pos_tag
# from nltk.corpus import wordnet

# # Deep Learning Libs
# import keras
# from keras.models import Sequential
# from keras.layers import Dense,Embedding,LSTM,Dropout
# from keras.callbacks import ReduceLROnPlateau
# import tensorflow as tf

In [3]:
true = pd.read_csv("True.csv")
fake = pd.read_csv("Fake.csv")

In [4]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true.sample(5)

,title,text,subject,date
9862,Senator Hatch raps House's Puerto Rico debt bill,WASHINGTON (Reuters) - A high-ranking Republic...,politicsNews,"April 19, 2016"
17612,Russia's Lavrov to Tillerson: Moscow readies l...,MOSCOW (Reuters) - Russian Foreign Minister Se...,worldnews,"October 12, 2017"
3642,Trump administration wants Obamacare subsidy c...,WASHINGTON (Reuters) - The Trump administratio...,politicsNews,"May 22, 2017"
13269,UAE denies Yemen's Houthis have fired missile ...,DUBAI (Reuters) - The United Arab Emirates on ...,worldnews,"December 3, 2017"
12613,Nobel peace laureate group urges nuclear power...,OSLO (Reuters) - The leader of the group that ...,worldnews,"December 10, 2017"

In [7]:
true.shape,fake.shape

((21417, 4), (23481, 4))

In [8]:
true['category'] = 1
fake['category'] = 0

In [9]:
df = pd.concat([true,fake])

In [10]:
df.sample(20)

,title,text,subject,date,category
18293,CHEVY CHASE ADMITS To Using Position At SNL To...,Comedian Mark Dice explores the influence so-c...,left-news,"Jul 18, 2017",0
36,"Congress votes to avert shutdown, sends Trump ...",WASHINGTON (Reuters) - The U.S. Congress on Th...,politicsNews,"December 21, 2017",1
17768,Rights group questions Italy's work with Libya...,ROME (Reuters) - Europe s top human rights org...,worldnews,"October 11, 2017",1
12975,Exclusive: Saudi-led blockade cuts fuel lifeli...,LONDON (Reuters) - No fuel shipments have reac...,worldnews,"December 6, 2017",1
9094,CELEBRATE! TRUMP HIGHLIGHT Video From “Year On...,The conservative 45Committee is out with a new...,politics,"Dec 30, 2017",0
14754,Syrian Kurdish leaders back longer U.S role in...,BEIRUT (Reuters) - Syrian Kurdish leaders voic...,worldnews,"November 15, 2017",1
5552,Trump opposes undermining Japan's control of d...,WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"February 9, 2017",1
17102,Obama To U.S.Military On Putin: “he did not ta...,Sarah Palin can hear Putin s knees knocking fr...,Government News,"Sep 13, 2015",0
19279,Tempers fray as search for survivors winds dow...,MEXICO CITY (Reuters) - Tempers frayed in Mexi...,worldnews,"September 21, 2017",1
5114,Donald Trump Tries To Spin ‘Second Amendment’...,Donald Trump really should have just apologize...,News,"August 10, 2016",0
4363,Mike Pence VICIOUSLY Refused To Pardon Black ...,Republicans are so scared and desperate about ...,News,"October 4, 2016",0
19536,WOW! PRO-CASTRO LEFTIST: Cubans Fled Castro To...,,left-news,"Nov 29, 2016",0
15942,UK PM May says takes allegations of Russian in...,LONDON (Reuters) - Prime Minister Theresa May ...,worldnews,"November 1, 2017",1
3925,Top House conservative says U.S. healthcare bi...,WASHINGTON (Reuters) - The head of the House o...,politicsNews,"May 4, 2017",1
18572,BITTER HILLARY JUST CLAIMED SHE ‘BEAT’ TRUMP: ...,Hillary Clinton just made the claim that she ...,left-news,"May 27, 2017",0
17695,Cambodia deports 74 Chinese arrested for telec...,PHNOM PENH (Reuters) - Cambodia on Thursday de...,worldnews,"October 12, 2017",1
1245,Bid to 'fix' Iran nuclear deal faces uphill cl...,WASHINGTON (Reuters) - President Donald Trump’...,politicsNews,"October 13, 2017",1
2793,WATCH: Kellyanne Conway Says Worldwide Chaos ...,Donald Trump stooge Kellyanne Conway attempted...,News,"January 29, 2017",0
4412,Mitch McConnell Freezes GOP Donors Into Loude...,It s become a weekly ritual: Trump goes throug...,News,"October 1, 2016",0
17557,Israel buoyed by Trump tack against Iran atom ...,JERUSALEM (Reuters) - Israel was upbeat about ...,worldnews,"October 13, 2017",1

In [11]:
# plt.figure(figsize =(16,9))
# # plt.bar(true,fake,color = maroon,width = 0.5)
# sns.countplot(df.category)
# plt.title('Total Fake and Real News Articles', fontsize=24)
# plt.ylabel('Total', fontsize=16)
# plt.xlabel('')
# plt.xticks([0, 1], ['Fake', 'Real'], fontsize=16)
# plt.show()